@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    border: 0;
    outline: none;
}

input {
    border: 0;
    outline: none;
}

li {
    list-style: none;
}

.Clear {
    clear: both;
}



/* header 절취선--------------------------------------------------------------------------- */



.hdr {
    max-width: 1920px;
    height: 75px;
    background-color: #ffffff;
    margin: 0 auto;
}

.hdr2 {
    width: 1200px;
    margin: 0 auto;
}



.hdr2 .hdr2_L {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}



.hdr2 .hdr2_P {
    float: right;
    font-family: 'Pretendard-Regular';
    margin-top: 19px;
}

.hdr2 .hdr2_P h2 {
    display: inline-block;
    font-size: 20px;
    color: #424242;
    margin-left: 10px;
}

.hdr2 .hdr2_P h2:hover {
    color: #faa61a;
}

.hdr2 .hdr2_P h1 {
    display: inline-block;
    font-size: 20px;
    color: #faa61a;
    border: 1.8px solid #faa61a;
    border-radius: 15px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-left: 10px;
}

.hdr2 .hdr2_P h1:hover {
    background-color: #faa61a;
    color: white;
}


/* main 절취선--------------------------------------------------------------------------- */


.swp {
    width: 1920px;
    height: 560px;
    position: relative;
    background-color: #faa61a;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0 auto;
    padding: 0;
}

.swiper {
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper h1 {
    font-family: 'Pretendard-SemiBold';
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
}


.btns button {
    font-family: 'Pretendard-Light';
    font-size: 20px;
    width: 140px;
    height: 50px;
    background-color: white;
    color: #faa61a;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 10px;
    transition: 0.5s all;
}

.btns button:hover {
    color: white;
    background-color: #faa61a;
    border: 1px solid white;
    transition: 0.5s all;
}


/* main 절취선--------------------------------------------------------------------------- */


.msg {
    max-width: 1920px;
    margin: 0 auto;
}

.msg_1 {
    max-width: 1920px;
    height: 100vh;
    background-image: url(./img/background3.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.msg_11 {
    width: 1200px;
    margin: 0 auto;
}



.msg1_T {
    float: left;
    margin-top: 70px;
}

.msg1_T h1 {
    display: inline-block;
    font-family: 'BMEULJIRO';
    cursor: default;
    font-size: 100px;
    color: white;
    text-shadow: 6px 8px 2px rgb(0, 0, 0, 0.6);
    margin-top: 60px;
    opacity: 0;
}



.msg1_P {
    float: left;
    margin-left: 150px;
    margin-top: 80px;
    opacity: 0;
    transition: 1s;
    transform: translateX(-300px);
}

.msg1_P h2 {
    font-family: 'BMEULJIRO';
    font-weight: 100;
    font-size: 50px;
    cursor: default;
    color: white;
    text-shadow: 6px 2px 2px rgb(0, 0, 0, 0.6);
    margin-left: 30px;
}

.msg1_P h3 {
    width: 350px;
    height: 65px;
    font-family: 'Pretendard-Regular';
    font-size: 30px;
    color: #faa61a;
    background-color: #181818;
    border: 2px solid #afafaf;
    border-radius: 15px;
    text-align: center;
    padding-top: 28px;
    margin-top: 15px;
}



.msg1_A {
    float: left;
    margin-left: 200px;
    margin-top: 80px;
    opacity: 0;
    transition: 1s;
    transform: translateX(300px);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.msg1_A h2 {
    font-family: 'BMEULJIRO';
    font-weight: 100;
    font-size: 50px;
    cursor: default;
    color: white;
    text-shadow: 6px 2px 2px rgb(0, 0, 0, 0.6);
}

.msg1_A img {
    width: 350px;
    height: 104px;
    margin-top: 10px;
}


/* footer 절취선--------------------------------------------------------------------------- */


.ftr {
    max-width: 1920px;
    height: 200px;
    background-color: #4d4d4d;
    margin: 0 auto;
}

.ftr2 {
    width: 1200px;
    margin: 0 auto;
}



.ftr2 .ftr2_L {
    float: left;
    margin-left: 98px;
    margin-top: 34px;
    margin-right: 30px;
}

.ftr2 .ftr2_L img {
    width: 70px;
    height: 65px;
}



.ftr2 .ftr2_S li {
    float: left;
    margin-left: 10px;
    margin-top: 52px;
}

.ftr2 .ftr2_S a {
    color: #c1c1c1;
}

.ftr2 .ftr2_S a:hover {
    color: #e0e0e0;
}

.ftr2 .ftr2_S .Sline {
    float: left;
    width: 1.2px;
    height: 20px;
    background-color: #c1c1c1;
    margin-left: 10px;
    margin-top: 54px;
}



.ftr2 .ftr2_D {
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.ftr2 .ftr2_D img {
    width: 160px;
    height: auto;
    margin-left: 20px;
}

.ftr2 .ftr2_D img:hover {
    cursor: pointer;
}



.ftr2 .ftr2_A {
    margin-top: 23px;
    text-align: center;
}

.ftr2 .ftr2_A span {
    color: #c1c1c1;
}